<!--nav bar goes here -->
<nav>
  <form action="/polls" method="GET">
    <button class="home">
      <img src="/images/chart3.png" class="logo" /><span class="name">
        <h3>Ranker</h3>
      </span>
    </button>
  </form>
  <% if (username !==undefined && username !==null) { %>
  <div class="nav-right">
      <h3 id="welcomeback">Welcome back <%=username %>!</h3>
      </h3>
      <div class="buttons profile_buttons">
        <div class="createpoll">
          <form action="/polls/new" method="GET">
            <button class="createpoll">
              <p class="long-button">Create a new poll</p>
              <i class="fa-solid fa-circle-plus"></i>
            </button>
            <div class="icon"><i class="fa-regular fa-hand-pointer fa-beat-fade"></i></div>
          </form>
        </div>
      </div>
      <form action="/users/logout" method="POST">
        <button class="logout">
          <p class="long-button">logout</p>
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </form>
  </div>
  <% } else { %>
    <div class="nav-right buttons home-nav">
      <form action="/users" method="GET">
        <button class="signup">
          <p>Sign up</p>
        </button>
      </form>
      <form action="/users/:login" method="GET">
        <button class="login">
          <p>Login</p>
          <i class="fa-solid fa-right-to-bracket"></i>
        </button>
      </form>
    </div>
    <% } %>
</nav>
