<!--nav bar goes here -->
<nav>
  <form action="/polls" method="GET">
    <button class="home">
      <h2><i class="fa-solid fa-chart-simple"></i>Decision Maker</h2>
    </button>
  </form>
  <div class="nav-right">
    <% if (username !==undefined && username !==null) { %>
      <h3 id="welcomeback">Welcome back <%=username %>!</h3>
      </h3>
      <div class="buttons profile_buttons">
        <div class="createpoll">
          <form action="/polls/new" method="GET">
            <button class="createpoll"><p>Create a new poll</p></button>
            <div class="icon"><i class="fa-regular fa-hand-pointer fa-beat-fade"></i></div>
          </form>
        </div>
      </div>
      <form action="/users/logout" method="POST">
        <button class="logout"><p>logout</p></button>
      </form>
  </div>
  <% } else { %>
    <div class="nav-right buttons">
      <form action="/users" method="GET">
        <button class="signup"><p>Sign up</p></button>
      </form>
      <form action="/users/:login" method="GET">
        <button class="login"><p>Login</p></button>
      </form>
    </div>
    <% } %>
</nav>