<!-- Create poll form goes here -->
<!-- Login - Signup goes here -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Poll</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External Stylesheets -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
    integrity="sha512-f0tzWhCwVFS3WeYaofoLWkTP62ObhewQ1EZn65oSYDZUg1+CyywGKkWzm8BxaJj5HGKI72PnMH9jYyIFz+GH7g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Local Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/create_poll.css" />

  <!-- Local JavaScript -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/create_poll.js"></script>

  <!-- External JavasScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/5.0.1/autosize.min.js"
    integrity="sha512-aBxhlAogg9r6Gtes+dsuqW6IQ4Ee0MtjexckbMNOVdxAfi5NSEd38BNEgFiaBWS6cl67r+8OImzxVKDdmswhnA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
    integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>

<body>
  <header>
    <%- include('partials/header.ejs') %>
  </header>
  <main>

    <h1 id="poll_label">Create New Poll</h1>

    <div class="poll">
      <div class="errors">

        <h5 class="question_error">Poll question missing, please enter your question</h5>
        <h5 class="option_error">Poll option missing, please enter your option</h5>
        <h5 class="date_error">Please specify the poll deadline</h5>
      </div>
      <form class="new_poll">
        <% if (username===null ) { %>
          <label for="email">E-mail</label>
          <input name="email" type="email" placeholder="email">
          <% } %>
            <div class="is_anonymous">

              <label for="isAnonymous">Click if poll is anonymous</label>
              <input type="checkbox" class="anonymousBox" name="isAnonymous" value="true">
            </div>
            <label for="poll_question">Poll Question</label>
            <textarea class="poll_question_box" name="poll_question" placeholder="Poll Question"></textarea>
            <label for="deadline">Deadline</label>
            <input autocomplete="off" class="deadline_box" name="deadline" />
            <div class="options_box">
              <div class="option">
                <input class="options1 ob" name="option_1" placeholder="Option 1">
                <textarea class="description1" name="option_1" placeholder="Description"></textarea>
              </div>
              <div class="option">
                <input class="options2 ob" name="option_2" placeholder="Option 2">
                <textarea class="description2" name="option_2" placeholder="Description"></textarea>
              </div>
              <div class="option">
                <input class="options3 ob" name="option_3" placeholder="Option 3">
                <textarea class="description3" name="option_3" placeholder="Description"></textarea>
              </div>
            </div>

            <br>
            <button class="new_option_textbox">Add Option</button>
            <button class="delete_option_textbox">Delete Option</button>
            <button type="submit" class="submit_button">Submit</button>
      </form>
    </div>

    <div class="submission_confirmation">
      <h1 id="success_label">Success!</h1>
      <p>Thank you for your submission</p>
      <p>Copy and share this URL</p>
      <a class="url_respond"></a>
      <p>Your URL</p>
      <a class="url_user"></a>
      <br>
      <button class="profile_button">Back to profile</button>
    </div>

  </main>
</body>

</html>