<!DOCTYPE html>
<html lang="en">

<head>
  <title>Signup/Login</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External Stylesheets -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Local style Sheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/signup.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/users.js"></script>
</head>
<header>
  <%- include('partials/header.ejs') %>
</header>

<body>
  <main>
    <div class="signup" <% if (service !=='signup' ) { %>
      hidden
      <%} %>
        >
        <div class="create_account">
          <h1>Create an account</h1>
        </div>
        <form class="authentication signup">
          <div class="fullname">
            <div class="first_name">
              <label for="first_name">First Name</label>
              <div><input name="first_name" type="text" placeholder="First Name"></div>
            </div>
            <div class="last_name">
              <label for="last_name">Last Name</label>
              <div><input name="last_name" type="text" placeholder="Last Name"></div>
            </div>
          </div>
          <div class="email">
            <label for="email">E-mail</label>
            <div><input name="email" type="email" placeholder="email"></div>
          </div>
          <div class="password">
            <label for="Password">Password</label>
            <div><input name="password" type="password" placeholder="password"></div>
          </div>
          <div class="confirm_password">
            <label for="confirm_password">Confirm Password</label>
            <div><input name="confirm_password" type="password" placeholder="confirm password"></div>
          </div>
            <div>
              <p class="authentication_error" hidden></p>
            </div>
          <button class="signup_button">Sign Up</button>
        </form>
        <p class="switch">Already have an account? <span class="show_login">Log In</span></p>
    </div>

    <div class="login" <% if (service!=='login' ) { %>
      hidden
      <%} %> >
        <h1>Welcome Back!</h1>
        <form class="authentication login">
          <div class="email">
            <label for="email">E-mail</label>
            <div><input name="email" type="email" placeholder="email"></div>
          </div>
          <div class="password">
            <label for="password">Password</label>
            <div><input name="password" type="password" placeholder="password"></div>
          </div>
          <button class="signup_button">Login</button>
          <p class="authentication_error" hidden></p>
        </form>
        <p class="switch">Create an account <span class="show_signup">Here</span></p>
    </div>


  </main>
</body>

</html>