<!-- All polls go here -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/profile.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<nav>
  <h2>Deisicion Maker</h2>
  <div class="buttons">
    <form action="/polls/new" method="GET">
      <button class="createpoll">Create a poll</button>
    </form>
    <form action="/users" method="GET">
      <button class="logout">logout</button>
    </form>
  </div>
</nav>
<body>
  <header>
    <h2>Welcome back!</h2>
  </header>
  <main>
    <h3>Your poll history...</h3>
    <% for (let title in object) { %>
      <% let scores = 0; %>
      <section>
        <h3><%= title %></h3>
        <ul class="chart">
          <% for (let i = 0; i < 5; i++) { %>
            <%scores += Number(object[title][i].score)%>
          <% } %>
        
          <% for (let i = 0; i < 5; i++) { %>
          <li>
            <span style="height: <%= Math.round((Number(object[title][i].score) / scores) * 300) %>%" title="<%= object[title][i].option %>"></span>
          </li>
          <% } %>
        </ul>
        
      </section> 
    <% } %>
  </main>
</body>
</html>