@import "layout";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  .img_404 {
    height: 50%;
    width: 50%;
  }

  a {
    font-size: 10px;
  }
}
