@import "layout";

body {
  height: 100vh;
  width: 100vw;
}

main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.poll,
.new_poll {
  text-align: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options_box {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option {
  margin: 0.5em auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

div.option input {
  margin: 0;
}

textarea {
  margin-left: 0.5em;
  min-width: 300px;
  border: 1px solid;
  border-radius: 4px;
  border-color: $dark-font-hover;
}

textarea.poll_question_box {
  margin-left: 0;
}

input {
  min-width: 200px;
  padding: 4px;
  margin: 0 0.5em;
  border: 1px solid;
  border-radius: 4px;
  border-color: $dark-font-hover;
}

input[type="checkbox"] {
  min-width: 0px;
}

.deadline_box {
  min-width: 0px;
}

textarea {
  padding: 4px;
  resize: none;
}

.poll_question_box {
  width: 90%;


}

div {
  margin: 1em;

  .deadline {
    align-items: center;
  }
}

.is_anonymous {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.poll_question {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 508px;

  label {
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 10px;
  }
}

.deadline {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    padding-left: 5px;
    margin-top: 30px;
  }
}

.deadline_box {
  border-radius: 10px;
}

.xdsoft_datetimepicker.xdsoft_inline {
  margin-top: 5px;
  border-radius: .5em;
}

button {
  border-radius: 15px;
  padding: 5px 20px;
  background-color: $accent-color2;
  color: $dark-color;
  border: none;
}

.submit_button {
  background-color: $accent-color2;
  color: $dark-font;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
}

.add_delete {
  margin-top: 0;
}

button:hover {
  cursor: pointer;
  background-color: $accent-color-hover;
}

.submit_button:hover {
  background-color: $accent-color2-hover;
}

.copyURL,
.yourURL {
  margin-bottom: 10px;
}

.yourURL,
.profile_button {
  margin-top: 50px;
}

.submission_confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 1000px;
  }
}

@media screen and (max-width: 563px) {

  body {
    overflow-x: hidden
  }


  .option {
    flex-direction: column;
    align-items: center;

    .ob {
      margin-bottom: 8px;
    }

  }

  .poll_question_box {
    width: 75%;
  }


}
