@import "layout";

main {
  display: flex;
  justify-content: center;
  button {
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    cursor: pointer;
    background-color: $accent-color2;
    color: $dark-font;
    font-weight: bold;
    font-size: 20px;
  }
  button:hover {
    background-color: $accent-color2-hover;
  }
  p.or {
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

div.headline {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  width: 40%;
  h1 {
    font-family: 'Playfair Display', serif;
  }
}

div.description {
  margin-bottom: 50px;
}

div.description p {
  margin-bottom: 20px;
  text-align: left;
  line-height: 35px;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  line-height: 70px;
}

section.image {
  width: 50%;
  height: auto;
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  
}

.img {
  width: 100%;
}

img {
  max-width: 100%;
  height: 80vh;
  overflow: hidden;
}

button.have-account {
  background: transparent;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-weight: lighter;
  font-size: 16px;
}

button.have-account:hover {
  background-color: transparent;
  color: $dark-font-hover;
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  margin-left: 10px;
  margin-top: 0;
}

.or .line {
  border-bottom: 1px solid grey;
  width: 100px;
}

.or p {
  margin: 0 10px;
  color: grey;
}

@media only screen and (max-width: 1385px) {
  main::after {
    background-image: url(/images/Charts-bro.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    opacity: 0.10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  section.image {
    display: none;
  }

  div.headline {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.title {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  div.description p {
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  main {
    width: 100vw;
    margin: 0;
  }

  .dark {
    background-color: $dark-color;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    p {
      color: $light-font;
    }
    button.have-account {
      padding: 0;
    }
    button.have-account:hover {
      text-decoration: underline;
      text-decoration-color: #fff;
    }
    .or {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 425px) {
  div.headline {
    text-align: center;
  }
  main::after {
    top: 300px;
  }
}