@import "layout";

main {
  margin-right: 50px;
  margin-left: 80px;
  display: flex;
  button {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: $accent-color2;
    color: $light-font;
    font-weight: bold;
  }
  button:hover {
    background-color: $accent-color2-hover;
  }
  p.or {
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

div.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  width: 40%;
  h1 {
    font-family: 'Playfair Display', serif;
  }
}

div.description p {
  margin-bottom: 20px;
  text-align: left;
  line-height: 35px;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  line-height: 70px;
}

section.video {
  width: 60%;
  height: 80vh;
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
}

video {
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  padding-left: 20px;
}