@import "layout";

@mixin desc-format {
  text-align: center;
  font-size: 17px;
  // border: 2px solid red;
  font-weight: bold;
  width: 50%;
}

@media screen and (min-width: 564px) and (max-width: 1023px) {

  window {
    width: auto
  }

  .placeholder {
    background-color: #fff;
  }

  .ui-widget-content {
    @include desc-format;
  }
}

@media screen and (max-width: 563px) {
  .placeholder {
    background-color: #fff;
  }

  .ui-widget-content {
    @include desc-format;

  }

  .question {
    font-size: 20px;
    text-align: center;
  }

  .submission {
    width: 80%;
  }
}
