@import "layout";

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-color;
  color: $light-font;
  height: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  font-family: $theme-font;

  i.fa-circle-plus, i.fa-right-from-bracket {
    display: none;
  }

  h2 {
    margin-left: 40px;
  }

  .fa-chart-simple {
    padding-right: 10px;
  }

  div.nav-right {
    display: flex;
    // flex-direction: column;
    margin-right: 40px;
    justify-content: center;
    align-items: center;

    h3 {
      margin-right: 20px;
    }
    button {
      background-color: $accent-color2;
      color:$dark-font;
      font-size: 18px;
    }
    button.signup {
      margin-right: 30px;
    }

    div.profile_buttons {
      margin-top: 25px;
      margin-right: 0;
    }
  }

  .buttons {
    margin-right: 20px;
    // margin-top: 30px;
    display: flex;
    flex-direction: row;
  }

  button {
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    p {
      margin: 0;

    }
  }

  button.home {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    color: $light-font;
  }

  div.createpoll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button.createpoll {
    margin-right: 20px;
    margin-bottom: 0;
  }

  div.icon {
    margin-right: 20px;
    margin-top: 0;
  }

  img.logo {
    margin-left: 5vw;
    text-align: center;
  }

  i.fa-regular {
    margin-top: 8px;
    text-align: center;
    width: 100%;
  }

  .logo {
    height: 43px;
    width: 50px;
  }

  .name {
    font-size: 30px;
  }

  button:hover {
    cursor: pointer;
  }

  div.nav-right {
    button.createpoll:hover,
    button.logout:hover,
    button.login:hover,
    button.signup:hover {
      background-color:$accent-color2-hover;
      color:$dark-color;
    }
  }
}

#welcomeback {
  font-weight: lighter;
}

header h2.welcomeback2 {
  display: none;
}

@media only screen and (max-width: 1385px) {
  nav {
    background-color: transparent;
    box-shadow: none;
    .name {
      color: $dark-font;
    }
    i.fa-hand-pointer {
      color: $accent-color;
    }
  }
  header h2.welcomeback2 {
    display: block;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-left: 5vw;
    margin-top: -5vw;
    font-weight: lighter;
  }
  
}

@media only screen and (max-width: 925px) {
  header h2.welcomeback2 {
    display: none;
  }

  span.name h3 {
    font-size: 25px;
  }
  img.logo {
    height: 33px;
    width: 40px;
  }
  nav {
    height: 50px;
  }
  button.home {
    margin-top: 15px;
  }
  nav div.nav-right button.logout {
    margin-top: 25px;
    margin-right: 0;
  }
  i.fa-hand-pointer {
    display: none;
  }
  p.long-button {
    display: none;
  }
  nav div.nav-right button {
    background-color: transparent;
    padding: 0;
    margin:0;
  }
  button i.fa-circle-plus, button i.fa-right-from-bracket {
    display: block;
    color: $accent-color;
    font-size: 30px;
    margin: 20px;
  }

  button i.fa-circle-plus:hover, button i.fa-right-from-bracket:hover {
    color: $accent-color2;
  }
  
  nav div.nav-right {
    button.createpoll:hover,
    button.logout:hover,
    button.login:hover,
    button.signup:hover {
      background-color: transparent;
    }
  }
}

