@import "layout";

@mixin align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin button {

  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: $accent-color2;
  color: $dark-font;
  font-weight: bold;

  &:hover {
    background-color: $accent-color2-hover;
  }

}

.container {
  @include align-center;
  margin-top: 100px;
  width: 100vw;
  margin-bottom: 100px;

  img {
    margin-top: 30px;
  }

  .description_container {
    text-align: center;
    height: 20px;
    width: 50%;
  }

  .submit_window {
    display: flex;
    flex-direction: column;
    align-items: center;

    #success_window {
      font-size: 35px;
      font-family: $theme-font;
    }

    #name_greet {
      margin-top: -10px;
      font-size: 20px;
    }

    .home_button {
      @include button;
    }
  }

  #sortable {
    @include align-center;
  }

  .name_box {
    margin-top: 30px;
    width: 90%;
  }

  .submission_form {
    @include align-center;

    .submission {
      @include align-center;
    }

    .name_box {
      border: 2px solid #7a7979;
      border-radius: 10px;
      width: 353px;
      height: 41px;
      left: 463px;
      top: 335px;
      text-align: center;
      font-size: 20px;
      margin-bottom: 30px;
    }

    .submit_button {
      @include button;
      margin-top: 10px;

    }

    .question {
      position: static;
    }
  }

  .option:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(68, 71, 107, 0.834);

  }

  .option {
    list-style-type: none;
    border: 2px solid $dark-font-hover;
    border-radius: 10px;
    width: 80%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    inline-size: 100%;
    background-color: rgba(250, 240, 230, 0.335);
  }

  .placeholder {
    list-style-type: none;
    height: 42px;
    // background-color: rgb(253, 249, 241);
    border-radius: 10px;
    width: 80%;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }

  ul {
    @include align-center;
    padding: 0;
    width: 100%;
  }
}


//////////////////////////////////

.ui-tooltip {
  position: fixed;
  text-align: left;
  padding: 10px 10px;
  background: transparent;
  width: 300px;
  color: $dark-font;
  font: 14px $theme-font;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-widget-content {
  font-weight: bold;
}

nav div.nav-right div.profile_buttons {
  margin-top: 0;
  margin-right: 0;
}


@mixin desc-format {
  text-align: center;
  font-size: 17px;
  // border: 2px solid red;
  font-weight: bold;
  width: 70%;
}

@media screen and (min-width: 564px) and (max-width: 1023px) {

  window {
    width: auto
  }

  .placeholder {
    background-color: #fff;
  }

  .ui-widget-content {
    @include desc-format;
  }
}

@media screen and (max-width: 563px) {
  .placeholder {
    background-color: #fff;
  }

  .ui-widget-content {
    @include desc-format;

  }

  .question {
    font-size: 20px;
    text-align: center;
  }

  .submission {
    width: 80%;
  }

  .instruction {
    text-align: center;
  }
}
