@import "layout";

@mixin align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

@mixin button {

  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: $accent-color2;
  color: #fff;
  font-weight: bold;

  &:hover {
    background-color: $accent-color2-hover;
  }

}

.container {
  @include align-center;
  margin-top: 100px;
  img {
    margin-top: 30px;
  }
}

.submit_window {
  display: flex;
  flex-direction: column;
  align-items: center;

  #success_window {
    font-size: 35px;
    font-family: $theme-font;
  }

  #name_greet {
    margin-top: -10px;
    font-size: 20px;
  }

  .home_button {
    @include button;
  }
}

#sortable {
  @include align-center;
}

.name_box {
  margin-top: 30px;
}

.submission_form {
  @include align-center;

  .submission {
    @include align-center;
  }

  .name_box {
    border: 2px solid #7a7979;
    border-radius: 10px;
    width: 353px;
    height: 41px;
    left: 463px;
    top: 335px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .submit_button {
    @include button;
    margin-top: 10px;

  }

  .question {
    position: static;
  }
}

.option:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(68, 71, 107, 0.834);

}

.option {
  list-style-type: none;
  border: 2px solid $dark-font-hover;
  border-radius: 10px;
  width: 80%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  inline-size: 100%;
  background-color: rgba(250, 240, 230, 0.335);
}

.placeholder {
  list-style-type: none;
  height: 42px;
  // background-color: rgb(253, 249, 241);
  border-radius: 10px;
  width: 80%;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

ul {
  @include align-center;
  padding: 0;
  width: 100%;
}

//////////////////////////////////

.ui-tooltip {
  position: fixed;
  text-align: left;
  padding: 10px 10px;
  background: transparent;
  width: 300px;
  color: $dark-font;
  // border-radius: 15px;
  font:14px $theme-font;
  // box-shadow: 0 0 7px $dark-font-hover;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

nav div.nav-right div.profile_buttons {
  margin-top: 0;
  margin-right: 0;
}
